@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('ttf');
}

body {
  font-family: 'Poppins', Arial, sans-serif;
}
